extends layout

block content
  p
    a(href="http://localhost:3000/admin/setbrand") 设置品牌
  p
    a(href="http://localhost:3000/admin/setbrandLogo") 下载并设置品牌logo
  p
    a(href="http://localhost:3000/admin/setSubBrand") 设置子品牌
  p
    a(href="http://localhost:3000/admin/setSubBrandLogo") 下载并设置子品牌logo
  p
    a(href="http://localhost:3000/admin/models") 设置车型
  p
    a(href="http://localhost:3000/admin/trims") 设置车款
